<main role="main">

    <div class="container text-center mt-5">

        <div class="row mb-5">

            <div class="card col-md-2">
                <app-menu></app-menu>  
            </div>

            <div class="col-md-10">

                <div class="table-responsive">

                    <nav aria-label="breadcrumb mb-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a i18n routerLink="/admin" routerLinkActive="active">Pagina anterior</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a i18n>Pagina actual</a></li>
                        </ol>
                    </nav>

                    <div class="formulario" align="left">

                        <h4 i18n>Detalles</h4>

                        <p><span i18n class="txt_negrita">Nombre:</span><br> Fear the Walking Dead</p>
                        <p><span i18n class="txt_negrita">Duracion:</span> <br> 3 horas</p>
                        <p><span i18n class="txt_negrita">Categoria:</span> <br> Serie</p>
                        <p><span i18n class="txt_negrita">Imagen:</span> <br> <br> <img src="../../../../assets/img/fearthewalkingdead.jpg"
                                alt="" class="img-fluid"> </p>
                        <div> <span i18n class="txt_negrita">Descripcion:</span> <br> <p i18n>
                            En medio de un brote de peste, varios miembros destacados de la sociedad sevillana aparecen asesinados. Mateo, condenado por la Inquisición, debe resolver esta serie de crímenes diabólicos para lograr el perdón del Santo Oficio y así salvar su vida. Una investigación a vida o muerte en un entorno de represión pública y hedonismo privado; de misticismo y caos; de conventos relajados y burdeles reglamentados; de cárceles como escondite; de hospitales como tumbas; de traiciones y lealtades.
                            </p> 
                        </div>
                        <p><span i18n class="txt_negrita">Actualizado:</span></p>

                        <a i18n routerLink="/admin" routerLinkActive="active" type="submit" class="btn btn-primary">Volver</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>