<footer id="amy-colophon" class="amy-site-footer">
    <div class="container">
        <div class="amy-footer-widgets">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="amy-widget amy-widget-module">
                        <div class="amy-widget amy-widget-module about ">
                            <div class="footer-logo"><a routerLink="/home" routerLinkActive="active"><img width="155"
                                        height="51"
                                        src="../../../../assets/img/icono.png"
                                        class="attachment-full size-full" alt="" /></a></div>
                            <div class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="amy-widget widget_nav_menu">
                        <div class="amy-widget-title">
                            <h4>Enlaces frecuentes</h4>
                        </div>
                        <div class="amy-widget-content">
                            <ul id="menu-footer-menu" class="menu">
                                <li id="menu-item-239"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-75 current_page_item menu-item-239">
                                    <a routerLink="/home" routerLinkActive="active"
                                        aria-current="page">Home</a></li>
                                <li id="menu-item-237"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237">
                                    <a
                                    routerLink="/login" routerLinkActive="active">Iniciar Sesion</a>
                                </li>
                                <li id="menu-item-238"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238">
                                    <a routerLink="/register" routerLinkActive="active"> Registrarse</a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="amy-widget amy-widget-list">
                        <div class="amy-widget amy-widget-list list-post footer-recent-post">
                            <h4 class="amy-title amy-widget-title">Paginas relacionadas</h4>
                            <div class="entry-item">
                                <div class="entry-thumb"><img width="120" height="85"
                                        src="../../../../assets/img/banner2.jpg"
                                        class="attachment-120x85 size-120x85 wp-post-image" alt=""
                                        sizes="(max-width: 120px) 100vw, 120px" /></div>
                                <div class="entry-content">
                                    <h2 class="entry-title"><a
                                            href="https://www.crunchyroll.com">Crunchyroll: One Piece</a></h2>
                                    <div class="entry-meta"><span class="entry-date">Diciembre 25, 2020</span><span>
                                            / </span><span class="entry-comment">20 comentarios</span></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="entry-item">
                                <div class="entry-thumb"><img width="120" height="85"
                                        src="../../../../assets/img/banner2.jpg"
                                        class="attachment-120x85 size-120x85 wp-post-image" alt=""
                                        sizes="(max-width: 120px) 100vw, 120px" /></div>
                                <div class="entry-content">
                                    <h2 class="entry-title"><a
                                            href="https://ytanime.tv">Anime Yt: Dr. Stone</a></h2>
                                    <div class="entry-meta"><span class="entry-date">Enero 3, 2021</span><span>
                                            / </span><span class="entry-comment">200 Comentarios</span></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="amy-widget amy-widget-module">
                        <div class="amy-widget amy-widget-module contact ">
                            <h4 class="amy-title amy-widget-title">Contactanos</h4>
                            <div class="address"><i class="fa fa-location-arrow" aria-hidden="true"></i>970452344</div>
                            <div class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i>ihc-labB@gmail.com
                            </div>
                            <div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>23-43-12</div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="amy-widget widget_mc4wp_form_widget">
                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-113" method="post" data-id="113"
                            data-name="Form">
                            <div class="mc4wp-form-fields">
                                <div class="newsletter-input-wrapper">

                                    <input type="email" name="EMAIL" placeholder="Tu direccion de correo electronico"
                                        required />

                                    <input type="submit" value="Subscribe" />
                                </div>
                            </div>
                        </form><!-- / Mailchimp for WordPress Plugin -->
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
