<header id="masthead" class="site-header header-default  light">
    <div class="container">
        <div class="amy-inner">
            <div class="amy-left">
                <div id="amy-site-logo">
                    <a routerLink="home/" routerLinkActive="active">
                        <img class="amy-logo amy-logo1x"
                            src="../../../../../assets/img/icono.png"
                            alt="Movie-Hub" width="50"/>
                    </a>
                </div>
            </div>
            <div class="amy-right">
                <nav id="amy-site-nav" class="amy-site-navigation amy-primary-navigation">
                    <div class="menu-mainnav-container">
                        <ul id="menu-mainnav" class="nav-menu">
                            <li id="menu-item-240"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-75 current_page_item menu-item-has-children menu-item-240">
                                <a routerLink="/home" routerLinkActive="active"
                                    aria-current="page">Home</a>
                            </li>
                            <li id="menu-item-241"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-241">
                                <a routerLink="/login" routerLinkActive="active">Iniciar Sesion</a>
                            </li>
                            <li id="menu-item-251"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-251">
                                <a routerLink="/register" routerLinkActive="active">Registrarse</a>
                            </li>
                            <li id="menu-item-246"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-246">
                                <a routerLink="/admin" routerLinkActive="active">Administrar</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div id="amy-menu-toggle"><a><span></span></a></div>
            </div>
        </div>
    </div>
    <div id="amy-site-header-shadow"></div>
</header>