<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../../../../../assets/img/icono.png" width="50"
                    class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a routerLink="" routerLinkActive="active" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a i18n routerLink="/admin" routerLinkActive="active" class="nav-link">Administrar</a>
                    </li>
                    <li class="nav-item">
                        <a i18n routerLink="/login" routerLinkActive="active" class="nav-link">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a i18n routerLink="/register" routerLinkActive="active" class="nav-link">Registrarse</a>
                    </li>
                </ul>
                <form name="bencc" method="get" action="http://www.google.com/search" id="bencc"
                    class="form-inline mt-2 mt-md-0">
                    <input type="hidden" name="domains" value="blog.nubecolectiva.com">
                    <input type="hidden" name="sitesearch" value="blog.nubecolectiva.com">
                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Buscar...">
                    <button i18n class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
</header>