<h6 class="mt-4"><strong >{{"MENU" | translate}}</strong></h6>
<ul class="navbar-nav mr-auto">
    <li class="nav-link"> <a  routerLink="/admin/create" routerLinkActive="active" class="nav-link bg-dark text-white">{{"CREATE" | translate}}</a></li>
    <li class="nav-link active"> <a  routerLink="/admin" routerLinkActive="active" class="nav-link bg-danger text-white">{{"MANAGE" | translate}}</a></li>
    <li class="nav-link active"> <a  routerLink="/admin/analisis" routerLinkActive="active" >{{"ANALYSIS" | translate}}</a> </li>
</ul>