<main role="main">

    <div class="container text-center mt-5">
        <div class="row mb-12">
            <div class="card col-md-2">
                <app-menu></app-menu>  
            </div>  
            <div class="col-md-10">

                <div class="table-responsive">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th  width="35%">{{"NAME" | translate }}</th>
                                <th >{{"DURATION" | translate }}</th>
                                <th >{{"CATEGORY" | translate }}</th>
                                <th >{{"IMAGE" | translate }}</th>
                                <th >{{"ACTIONS" | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>La casa de papel</td>
                                <td >3 horas</td>
                                <td >Serie</td>
                                <td><img src="../../../../assets/img/series/La casa de papel/casadepapeldeatil.jpg" alt="" class="img-fluid" width="70%"></td>
                                <td>
                                    <div class="btn-group">
                                        <a  routerLink="/admin/detail" routerLinkActive="active" title="Ver" type="button" class="btn btn-success">Ver </a>
                                        <a  routerLink="/admin/update" routerLinkActive="active" title="Editar" type="button" class="btn btn-primary">Editar </a>
                                        <button class="btn btn-danger" mat-raised-button mat-button color="warn" (click)="mostrarDialogo()">Eliminar</button>
            
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>The Act</td>
                                <td  >2 horas</td>
                                <td  >Pelicula</td>
                                <td><img src="../../../../assets/img/theact.jpg" alt="" class="img-fluid" width="70%"></td>
                                <td>
                                    <div class="btn-group">
                                        <a   href="" title="Ver" type="button" class="btn btn-success">Ver </a>
                                        <a   href="" title="Editar" type="button" class="btn btn-primary">Editar </a>
                                        <button  class="btn btn-danger" onclick="return eliminar();" type="submit">
                                            Eliminar
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>La Peste</td>
                                <td >1.5 horas</td>
                                <td >Pelicula</td>
                                <td><img src="../../../../assets/img/lapeste.jpg" alt="" class="img-fluid" width="70%"></td>
                                <td>
                                    <div class="btn-group">
                                        <a  href="" title="Ver" type="button" class="btn btn-success">Ver </a>
                                        <a  href="" title="Editar" type="button" class="btn btn-primary">Editar </a>
                                        <button  class="btn btn-danger"  type="submit">
                                            Eliminar
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>